@if (User.Identity?.IsAuthenticated == true)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" id="registerLink">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login" id="loginLink">Log in</a></li>
    </ul>
}
