@model NewsPOrtal.DAL.ViewModels.CategoryViewModel
<div class="comment" style="background-color: #f2f2f2">
    <div class="col-md-1 comment-avatar">
        <img class="avatar" src="~/Content/images/avatars/images.png" alt="">
    </div>
    <div class="col-md-11 comment-body">
        <h4>@Model.Name</h4>
        <p>@Model.Body</p>
    </div>
</div>
